@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/variables";
@import "mixins";
// Put your variable overrides here
$book-background: black;
$page-background: black;
$sidebar-background: black;

$color-primary: orange;
$color-text: white;
$color-text-muted : black;
$color-gray-lightest : black;
$font-family-sans : Roboto , sans-serif !default;
$color-headings : white;
$page-header-height : 60px;

//table
$table-tr-map                       : (
                                        background-color: black,
                                        border-top: 1px solid 
                                    ) !default;


$th-map                          :(
                                    background: black,
                                    padding: 10px
                                ) !default;
$td-map                         :(
                                    padding: 20px 10px
                                ) !default;
th {
    color: white;
    
    @include print( $th-map );
}

td {
    color: white;
    @include print( $td-map );
}

//dropdown


.dropdown-caret
{
    position: relative;
    top: -8px;
    left: 10px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}
//logo
$sidebar-logo-height                : 30px !default;



.header-inner {
    
	width: 100%;
	padding: 10px 30px;
	border-bottom: 1px solid #dededede;
	margin: auto;
	*zoom: 1;
	height: $page-header-height;
	&:before {
		content: " ";
		display: table;
		line-height: 0;
	}
	&:after {
		content: " ";
		display: table;
		line-height: 0;
		clear: both;
	}
	.logo {
		float: left;
		height: 100px;
		width: 120px;
		background: url('./logo.png');
		background-size: 120px 100px;
		background-repeat: no-repeat;
		img {
			display: block;
			height: inherit;
			padding: 5px 0;
		}
  }
}
    

@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/all";
